<h1>마이페이지</h1>
<h2>본인의 검사 결과지를 바탕으로 최대한 비슷하게 작성 해 주세요!!</h2>

<p>총 11개 특성 中 각각에 해당하는 유전자의 종류를 입력해 주세요.</p>


<p>
    <div>
        유저 이메일 : {{user.email}}
    </div>

    <div>
        {{user.nickname}}님 반갑습니다!!
    </div>
    <h2>
        <a href={% url 'property_confirm' %}>
            내 유전자 등록하기
        </a>
    </h2>
    <h2>
        <a href={% url 'profile' user.id %}>
            Profile
        </a>
    </h2>

    <h2>
        <a href="#">
            Gene_diary
        </a>
    </h2>
</p>
