{% extends 'gene_base/base.html' %}
{% load static %}

{% block handler %}
    <a class="btn btn-primary btn-xl rounded-pill mt-5" href={% url 'gene_confirm' user.id %}>내 유전자 확인하기</a>
    <a class="btn btn-primary btn-xl rounded-pill mt-5" href={% url 'gene_register' user.id %}>내 유전자 등록/수정 하기</a>
{% endblock handler %}

{% block content %}

    {% for property in property %}
        <div style="margin-top: 20px; border-radius:30px; background-color:#f7e9e8;">
            <div>
                <h1>{{property.title}}</h1><br>
                <h3>{{property.descript}}</h3><br>
            </div>
            <a class="button" style="margin-left: 550px;" href={% url 'property_detail' property.id %}>{{property.title}}??</a>
        </div>

        <div style="margin-bottom: 80px;">
        </div>
    {% endfor %}

{% endblock content %}

