{% extends 'gene_base/base.html' %}
{% load static %}



{% block content %}
<div class="profile_photo">

    <div class="profile_picture">
        <img src={{profile_user.profile_picture.url}} class="profile_image">
    </div>

    <div class="profile_update">
        <a class="button" href={% url 'profile-update' %}>프로필 수정하기</a>
    </div>

</div>
<div class="profile_section">

    <div class="profile_nickname">
        <b>닉네임 : {{profile_user.nickname}}</b>
    </div>

    <div class="profile_intro">
        상태 메세지 
        <div id="textBox">
            {{profile_user.intro}}
        </div>
    </div>

    <div class="profile_goals">
            올 한해 목표
            <div id="textBox">
                {{profile_user.goals|linebreaksbr}}
            </div>
    </div>

</div>
{% endblock content %}