{% extends 'gene_base/base.html' %}
{% load static %}

{% block content %}

    <form method="post" enctype="multipart/form-data" id="editForm">

        <h1 class="profileEdit">프로필 수정</h1>

        {% csrf_token %}
        <div>
            <p>프로필 사진</p>
            {{form.profile_picture}}
        </div>

        <div>
            <p>닉네임</p>
            {{form.nickname}}
            {% for error in form.nickname.errors %}
                <div class="error-message" style="color: red;"><strong>{{error}}</strong></div>
            {% endfor %}
        </div>

        <div>
            <p>상태 메시지</p>
            {{form.intro}}
        </div>

        <div>
            <p>올 한 해 목표</p>
            {{form.goals}}
        </div>
        

        <div>
            <a href={% url 'account_change_password' %} class="button" id="pwBtn">비밀번호 변경</a>
            <a href={% url 'profile' user.id %} class="button" id="#cancleBtn">취소</a>
            <button class="button" type="submit" id="submitBtn">완료</button>
        </div>
    </form>
{% endblock content %}