<h1>프로필 수정</h1>



<form method="post">{% csrf_token %}
    <div>
        프로필사진<br>
        {{form.profile_picture}}
    </div>

    <div>
        닉네임<br>
        {{form.nickname}}
        {% for error in form.nickname.errors %}
            <div class="error-message" style="color: red;"><strong>{{error}}</strong></div>
        {% endfor %}
    </div>

    <div>
        상태메세지<br>
        {{form.intro}}
    </div>

    <div>
        올 한해 목표<br>
        {{form.goals}}
    </div>
    
    <button type="submit">완료</button>
</form>