/* gene_register.htmlì˜ css */
.gene_register_area{
    background: #ee9ca7;
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
    width: 500px;
    margin: 10px auto;
    border-radius: 10px;
}

.gene_register_area>h2{
    color: black;
    background: #9796f0;
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    text-align: center;
    padding: 10px;
    border-radius: 0px 0px 0px 0px;
    width: 500px;
}

.gene_register_area>h2:first-child{
    color: black;
    background: #9796f0;
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    width: 500px; 
}

.gene_register_select{
    padding-left: 20px;
    padding-bottom: 10px;
}

.gene_register_intro{
    margin-top: 40px;
    margin-bottom: 30px;
}