.content-list .pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    padding: 0;
    list-style: none;
  }
  
  .content-list .pagination li ~ .content-list .pagination li {
    margin-left: 5px;
  }
  
  .content-list .pagination li {
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  
  .content-list .pagination li.current {
    border-radius: 9px;
    background-color: var(--content-list-pagination-current-bg);
    color: var(--content-list-pagination-current);
  }
  
  .content-list .wrap-pagination {
    display: flex;
    align-items: center;
  }
  
  .content-list .wrap-pagination .backbutton:only-child {
    width: 220px;
  }
  
  .content-list .wrap-pagination .backbutton ~ .pagination {
    margin-right: 220px;
    flex-grow: 1;
  }

  .gene_register_form{
    display: inline;
    margin-left: 200px
  }