{% extends 'gene_base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block contnet %}
    <form method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <h1> 오늘 하루는 어땠나요? 무엇을 먹었나요? 운동은 하셨나요??</h1>
        <div>
            제목 <span>{{form.title}}</span>
        </div>

        <div style="margin-top: 80px">
            오늘 하루는 어땠나요? <span>{{form.feeling_rating}}</span>
        </div>

        <div style="margin-top:80px;">
            추억을 담아주세요!!<br> 
            <span>{{form.diary_image}}</span><br>
            <span>{{form.diary_image2}}</span><br>
            <span>{{form.diary_image3}}</span><br>

        </div>


        <div style="margin-top: 100px;">
            무엇을 먹었나요?? <br>
            <span>{{form.content}}</span>
        </div>

        <div style="margin-top: 150px;">
            <div style="display: inline;">
                <a href={% url 'gene_diary_list' user.id %}>취소하기</a>
            </div>

            <div style="display: inline-block; margin-left: 400px">
                <button type="submit">기록하기!!</button>
            </div>
        </div>
    </form>
{% endblock content %}