<h1>{{user.nickname}}님의 다이어리 List</h1>

<div>
    {% for diary in all_diary %}
        <a href={% url 'gene_diary_detail' diary.id %}>
            <div style="margin: 80px 80px">
                {% if diary.diary_image %}
                    <img src={{diary.diary_image.url}}><br>
                {% endif %}
            
                {{diary.title}}<br>
                
                {{diary.feeling_rating}}<br>

                

                {{diary.content}}<br>
            </div>
        </a>
    {% endfor %}
</div>