<h1> 오늘 하루는 어땠나요? 무엇을 먹었나요? 운동은 하셨나요??</h1>


<form method="post">
    {% csrf_token %}
    <div>
        제목 <span>{{form.title}}</span>
    </div>

    <div>
        오늘 하루는 어땠나요? <span>{{form.feeling_rating}}</span>
    </div>

    <div>
        추억을 담아주세요!!<br> 
        <span>{{form.diary_image}}</span><br>
        <span>{{form.diary_image2}}</span><br>
        <span>{{form.diary_image3}}</span><br>

    </div>


    <div>
        무엇을 먹었나요?? <span>{{form.content}}</span>
    </div>
    <button type="submit">기록하기!!</button>
</form>