{% extends 'gene_base/base.html' %}
{% load static %}

{% block content %}
<div class="diary_block">
    <br>
    <div>
      <h1>제목 : {{diary.title}}</h1>
    </div>
  
    <div>
      <h2>오늘의 평가 <div id="starContainer"></div></h2>
    </div>
  
    <div class="image_container">
        <!-- if 와 endif를 사용하여 이미지가 있을 시에만 나타나게 함 -->
        {% if diary.diary_image %}
        <div class="diary_imagebox">
            <img src={{diary.diary_image.url}}>
        </div>
        {% endif %}

        {% if diary.diary_image2 %}
        <div class="diary_imagebox">
            <img src={{diary.diary_image2.url}}>
        </div>
        {% endif %}

        {% if diary.diary_image3 %}
        <div class="diary_imagebox">
            <img src={{diary.diary_image3.url}}>
        </div>
        {% endif %}
    </div>
    
    <br>
    <div class="diary_detail_content">
      {{diary.content|linebreaksbr}}
    </div>
    <br>

    <div>
      <p>
        <date>작성일 - {{diary.dt_created|date:"Y년 n월 j일"}}</date><br>
        <date>수정일 - {{diary.dt_updated|date:"Y년 n월 j일"}}</date><br>
      </p>
      <!-- 페이지 하단에 나타나는 수정 삭제 돌아가기 버튼 -->
      <div class="gene_diary_detail_footer">
        <button class="diary_modify_button">
          <a href={% url 'gene_diary_update' diary.id %}>수정하기</a>
        </button>
        <button class="diary_modify_button">
          <a href={% url 'gene_diary_delete' diary.id %}>삭제하기</a>
        </button>
        <button class="diary_modify_button">
          <a href={% url 'gene_diary_list' diary.user.id %}>돌아가기</a>
        </button>
      </div>
    </div>
  </div>
    
     
  <script>
    /*diary.feeling_rating에 해당하는 숫자를 받아서 별 문자로 변형시켜주는 코드*/

    var rating = {{diary.feeling_rating}}; // diary.feeling_rating에 해당하는 숫자를 받아온다.
    var starContainer = document.getElementById('starContainer');
  
    for (var i = 0; i < rating; i++) {
      var star = document.createElement('span');
      star.classList.add('star-rating');
      star.innerHTML = '★';
      starContainer.appendChild(star);
    }
  </script>


<!--    
<div class="diary_detail_style">

        <div>
            <h1>{{diary.title}}</h1>
        </div>

        <div>
            <h2>오늘 하루는 어땠나요?{% for i in ""|ljust:diary.feeling_rating %}★{% endfor %}
            </h2>
        </div>

        <div>
            <img src={{diary.diary_image.url}}>
        </div>

        <div>
            {{diary.content|linebreaksbr}}
        </div>

        <div>
            <p>
                <date>작성일 - {{diary.dt_created|date:"Y년 n월 j일"}}</date><br>
                <date>수정일 - {{diary.dt_updated|date:"Y년 n월 j일"}}</date><br>
            </p>
            <p class="diary_detail_button">
                <a class="button" id="pwBtn" href={% url 'gene_diary_update' diary.id %}>수정하기</a>
                <a class="button" id="#cancleBtn" href={% url 'gene_diary_delete' diary.id %} style="margin-left: 80px">삭제하기</a>
                <a class="button" id="submitBtn" href={% url 'gene_diary_list' diary.user.id %} style="margin-left: 80px">돌아가기</a>
            </p>
        </div>

    </div>
-->
{% endblock content %}