<h1>{{user.nickname}}님의 유전 현황</h1>

<h2>
    체질량 지수(FTO, MC4R, BDNF)
</h2>

<div>
    FTO -> {{user.get_FTO_gene_display}}<br>
    MC4R -> {{user.get_MC4R_gene_display}}<br>
    BDNF -> {{user.get_BDNF_gene_display}}<br>
</div>

<h2>
    색소침착(OCA2, MC1R)
</h2>

<div>
    FTO -> {{user.get_FTO_gene_display}}<br>
    MC4R -> {{user.get_MC4R_gene_display}}<br>
    BDNF -> {{user.get_BDNF_gene_display}}<br>
</div>

<h2>
    탈모(chr20p11(1), chr20p11(2), IL2RA, HLA-DQB1)
</h2>

<div>
    FTO -> {{user.get_FTO_gene_display}}<br>
    MC4R -> {{user.get_MC4R_gene_display}}<br>
    BDNF -> {{user.get_BDNF_gene_display}}<br>
</div>

<h2>
    모발굵기(EDAR)
</h2>

<div>
    FTO -> {{user.get_FTO_gene_display}}<br>
    MC4R -> {{user.get_MC4R_gene_display}}<br>
    BDNF -> {{user.get_BDNF_gene_display}}<br>
</div>

<h2>
    피부노화(AGER(1), AGER(2))
</h2>

<div>
    FTO -> {{user.get_FTO_gene_display}}<br>
    MC4R -> {{user.get_MC4R_gene_display}}<br>
    BDNF -> {{user.get_BDNF_gene_display}}<br>
</div>

<h2>
    중성지방 농도(GCKR, ANGPTL3, TRIB1)
</h2>

<div>
    FTO -> {{user.get_FTO_gene_display}}<br>
    MC4R -> {{user.get_MC4R_gene_display}}<br>
    BDNF -> {{user.get_BDNF_gene_display}}<br>
</div>

<h2>
    콜레스테롤(HMGCR, ABO, ABCA1, LIPG)
</h2>
</h2>

<div>
    FTO -> {{user.get_FTO_gene_display}}<br>
    MC4R -> {{user.get_MC4R_gene_display}}<br>
    BDNF -> {{user.get_BDNF_gene_display}}<br>
</div>

<h2>
    혈당(DGKB-TMEM195, CDKN2A/2B, GCK, GLIS3)
</h2>

<div>
    FTO -> {{user.get_FTO_gene_display}}<br>
    MC4R -> {{user.get_MC4R_gene_display}}<br>
    BDNF -> {{user.get_BDNF_gene_display}}<br>
</div>

<h2>
    혈압(GUCY1A3, FGF5, ATP2B1, NPR3, CYP17A1)
</h2>

<div>
    FTO -> {{user.get_FTO_gene_display}}<br>
    MC4R -> {{user.get_MC4R_gene_display}}<br>
    BDNF -> {{user.get_BDNF_gene_display}}<br>
</div>

<h2>
    비타민C농도(SLC23A1(1), SLC23A1(2))
</h2>

<div>
    FTO -> {{user.get_FTO_gene_display}}<br>
    MC4R -> {{user.get_MC4R_gene_display}}<br>
    BDNF -> {{user.get_BDNF_gene_display}}<br>
</div>

<h2>
    카페인대사(CYP1A1-CYP1A2, AHR)
</h2>

<div>
    FTO -> {{user.get_FTO_gene_display}}<br>
    MC4R -> {{user.get_MC4R_gene_display}}<br>
    BDNF -> {{user.get_BDNF_gene_display}}<br>
</div>

