<form method="post">
    {% csrf_token %}

    <div class="fat">
        <h2>체질량 지수[FTO]</h2>
        {{form.FTO_gene}}
        <h2>체질량 지수[MC4R]</h2>
        {{form.MC4R_gene}}
        <h2>체질량 지수[BDNF]</h2>
        {{form.BDNF_gene}}
    </div>

    <div class="fat">

    </div>

    <div class="fat">
        
    </div>

    <div class="fat">
        
    </div>

    <div class="fat">
        
    </div>


    <div class="fat">
        
    </div>


    <div class="fat">
        
    </div>

    <div class="fat">
        
    </div>

    <div class="fat">
        
    </div>

    <div class="fat">
        
    </div>

    <div class="fat">
        
    </div>
    <div style="margin-left: 1000px"><button type="submit">완료!!</button></div>
</form>