{% extends 'gene_base/base.html' %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Sign Up Page</title>
</head>
<body>


	{% block header %}
		<div id="menu">
			<a href={% url 'home' %}>Home</a>
		</div>
		<div id="blank"></div>
		<h1>Login Page</h1>
	{% endblock %}


	{% block content %}
		<form method="post">
			{% csrf_token %}
			
			<label for="email">E-mail:</label>
			{{form.login|attr:"placeholder:이메일을 입력하세요!!"}}
            {% for error in form.login.errors %}
                {{error}}
            {% endfor %}
			<label for="password1">Password:</label>
			{{form.password|attr:"placeholder:패스워드를 입력해주세요!!"}}
			{% for error in form.password1.errors %}
				{{error}}
			{% endfor %}
			<input type="submit" value="Login">
		</form>
	{% endblock %}

	{% block footer %}
		<footer>
			<p>New Genes</p>
		</footer>
	{% endblock %}
</body>
</html>