{% extends 'gene_base/base.html' %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Password Change Page</title>
</head>
<body>

	{% block content %}
		<form method="post">
			{% csrf_token %}
			
			<label for="email">현재 비밀번호</label>
			{{form.oldpassword|attr:"placeholder:현재 비밀번호를 입력해주세요!!"}}
			<label for="password1">새 비밀번호</label>
			{{form.password1|attr:"placeholder:변경할 비밀번호를 입력해주세요!!"}}
			{% for error in form.password1.errors %}
				{{error}}
			{% endfor %}
			<label for="password2">새 비밀번호 확인</label>
			{{form.password2|attr:"placeholder:패스워드를 다시 한번 입력해주세요!!"}}
			{% for error in form.password2.errors %}
				{{error}}
			{% endfor %}
			<input type="submit" value="완료!!">
		</form>
	{% endblock %}

	{% block footer %}
		<footer>
			<p>New Genes</p>
		</footer>
	{% endblock %}
</body>
</html>